.keyboard-container {
  width: 100%;
  max-width: 500px;
  visibility: hidden;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.keyboard-row > button {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--panel-background-color);
  color: var(--text-color-primary);
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.keyboard-row > button:last-of-type {
  margin: 0;
}
