@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color-primary);
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

div {
  perspective: 500px;
}

.body-colors-transition {
  transition: background-color var(--color-theme-transition-duration) ease,
    color var(--color-theme-transition-duration) ease;
}

.container {
  font-size: 5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
