@import url('variables.css');

.split-flap-panel-container {
  height: var(--split-flap-panel-container-height);
  width: var(--split-flap-panel-container-width);
  overflow: hidden;
  /* TODO: Dynamic margin */
  margin: 0.2vh;
  box-sizing: border-box;
  border: 1px solid var(--panel-border-color);
}

.split-flap-panel {
  width: var(--split-flap-panel-width);
}

.split-flap-board:first-child {
  margin-left: 0;
}
