@import url('variables.css');

.split-flap-panel {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
}

.new-card-overlay-top {
  height: var(--split-panel-new-card-slide-distance);
  top: calc(var(--split-panel-new-card-slide-distance) * -1);
  width: 100%;
  background-color: var(--board-color);
  position: absolute;
  transition: background-color var(--color-theme-transition-duration);
}

.new-card-overlay-bottom {
  height: var(--split-panel-new-card-slide-distance);
  top: 100%;
  width: 100%;
  background-color: var(--board-color);
  position: absolute;
  transition: background-color var(--color-theme-transition-duration);
}

.split-flap-divider {
  background-color: rgba(0, 0, 0, 0.1);
  top: calc(50% - var(--split-panel-divider-height) / 2);
  height: var(--split-panel-divider-height);
  width: 100%;
  position: absolute;
  z-index: -1;
}

.top-new {
  top: calc(var(--split-panel-new-card-slide-distance) * -1);
  border-radius: 10px 10px 0 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  z-index: -1;
}

.top-current {
  top: calc(var(--split-panel-divider-height) / 2 * -1);
  border-radius: 10px 10px 0 0;
  background-color: var(--panel-color);
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  transition: background-color var(--color-theme-transition-duration);
  transform-origin: bottom;
}

.bottom-new {
  border-radius: 0 0 10px 10px;
  background-color: var(--panel-color);
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  top: 50%;
  transition: background-color var(--color-theme-transition-duration);
  line-height: 0;
  transform-origin: top;
  transform: rotateX(90deg);
  z-index: 1;
}

.bottom-current {
  top: calc(var(--split-panel-divider-height) / 2 + 50%);
  border-radius: 0 0 10px 10px;
  background-color: var(--panel-color);
  position: absolute;
  width: 100%;
  height: 50%;
  transition: background-color var(--color-theme-transition-duration);
  line-height: 0;
  overflow: hidden;
  transform-origin: top;
  z-index: -1;
}

.top-new-slide {
  animation: top-new-slide ease-in 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.top-current-flip {
  animation: top-current-flip ease-in 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bottom-new-flip {
  animation: bottom-new-flip ease-out 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bottom-current-slide {
  animation: bottom-current-slide ease-in 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bottom-current-bounce {
  animation: bottom-current-bounce ease-in-out 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes top-new-slide {
  0% {
    top: calc(var(--split-panel-new-card-slide-distance) * -1);
  }
  50% {
    top: calc(var(--split-panel-divider-height) / 2 * -1);
  }
  100% {
    top: calc(var(--split-panel-divider-height) / 2 * -1);
  }
}

@keyframes top-current-flip {
  0% {
    top: calc(var(--split-panel-divider-height) / 2 * -1);
    transform: rotateX(0deg) translateY(0);
    background-color: var(--panel-color);
  }
  50% {
    top: 0%;
    transform: rotateX(-90deg) translateY(-5%);
    background-color: gray;
  }
  100% {
    top: 0%;
    transform: rotateX(-90deg) translateY(-5%);
    background-color: gray;
  }
}

@keyframes bottom-new-flip {
  0% {
    top: 50%;
    transform: rotateX(90deg) translateY(5%);
    background-color: gray;
  }
  50% {
    top: 50%;
    transform: rotateX(90deg) translateY(5%);
    background-color: gray;
  }
  100% {
    top: calc(var(--split-panel-divider-height) / 2 + 50%);
    transform: rotateX(0deg) translateY(0);
    background-color: var(--panel-color);
  }
}

@keyframes bottom-current-slide {
  0% {
    top: calc(var(--split-panel-divider-height) / 2 + 50%);
  }
  50% {
    top: calc(
      var(--split-panel-divider-height) / 2 + 50% +
        (var(--split-panel-new-card-slide-distance) * 0.25)
    );
  }
  100% {
    top: calc(
      var(--split-panel-divider-height) / 2 + 50% +
        (var(--split-panel-new-card-slide-distance) * 0.25)
    );
  }
}

@keyframes bottom-current-bounce {
  0% {
    transform: rotateX(0deg);
    z-index: 1;
  }
  50% {
    transform: rotateX(var(--bottom-bounce-angle));
    background-color: var(--panel-bounce-color);
  }
  100% {
    transform: rotateX(0deg);
    z-index: 1;
  }
}
