:root {
  --split-flap-panel-container-width: 100px;
  --split-flap-panel-container-height: calc(
    var(--split-flap-panel-container-width) * 1.05
  );
  --split-flap-panel-width: calc(var(--split-flap-panel-container-width) * 20);
  --color-theme-transition-duration: 0.2s;
  --bottom-bounce-angle: 10deg;
}

html[data-theme='dark'] {
  --background-color: white;

  --board-color: #3f3433;
  --panel-color: #42393a;
  --panel-bounce-color: #544b4c;

  --text-color-primary: rgba(255, 255, 255, 1);
  --text-color-secondary: rgba(255, 255, 255, 0.7);
  --text-color-disabled: rgba(255, 255, 255, 0.5);
}

html[data-theme='light'] {
  --background-color: black;

  --board-color: #e9e9e9;
  --panel-color: #f3f3f5;
  --panel-bounce-color: #e0e0e0;

  --text-color-primary: rgba(0, 0, 0, 0.87);
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --text-color-disabled: rgba(0, 0, 0, 0.38);
}
